/* ESTILOS GALILEO - UXDEVCO */
body{
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #8bc9c3;
  color: white;
  overflow-x: hidden;
}    
.front{
    z-index: 500;
    width: 20000px;
}
.scroll{    
  height: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
.sr .screen2-txt { 
  visibility: hidden; 
}
h1, h2, h3, h4{
  margin: 0;
  padding: 0;
  line-height: inherit;
}
.title-section h2{
  color: white;
  font-size: 1.85em;
  padding: 0 1em;
  background-color: #1a5489;
  text-align: center;
  margin: 0 auto;
  width: auto;
  display: table;
}
h3{
  color: #1a5489;
  font-size: 1.65em;  
}
#wrapper{
  width: 20000px;
  height: 900px;
  display: block;
  position: relative;
}
.section{
  width: 1280px;
  height: 100%;
  float: left;
  position: relative;
}
.section-content{
  width: 98%;
  height: 98%;
  padding: 2%;
}

/**/
.bottom-nav{
  position: fixed;
  z-index: 999;
  width: 100%;
  bottom: 0;
  padding: 1em 0;
}
.navigation{
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  bottom: 2em;
}
.navigation a{
     width: 10px;
    height: 10px;
    background-color: #538480;
    border: 5px solid #538480;
    margin: 0 0.2em;
    display: inline-block;
    border-radius: 50%;
    transition: all 0.5s ease;
}
.navigation a:hover{
  background-color: #f2990a;
}

img.logo-intro{
  width: 50%;
  margin-top: 20%;
}
/*screen2*/
.screen2-txt{
  float: left;
  width: 40%;
  margin-top: 20%;
  font-size: 1.2em;
}
.menu-circles-icons{
  float: right;
  width: 182px;
  margin-right: 20%;
}
.menu-circles-icons a{
  width: 182px;
  height: 197px;
  display: block;
  transition: all 0.5s ease;
  margin-bottom: 1em;
}
a.biogas-menu-btn{
  background: url(../images/gnc-biogas-btn.png) no-repeat;
}
a.biogas-menu-btn:hover{
  background: url(../images/gnc-biogas-btn-hover.png) no-repeat;
}
a.yacimiento-menu-btn{
  background: url(../images/gnc-yacimiento-btn.png) no-repeat;  
}
a.yacimiento-menu-btn:hover{
  background: url(../images/gnc-yacimiento-btn-hover.png) no-repeat; 
}
a.gasoducto-menu-btn{
  background: url(../images/gnc-gasoducto-btn.png) no-repeat;  
}
a.gasoducto-menu-btn:hover{
  background: url(../images/gnc-gasoducto-btn-hover.png) no-repeat; 
}
/*screen 3*/
.screen3-title{
  float: left;
  width: 45%;
  margin-top: 20%;
}
.screen3-title h1{
      color: #1a5489;
    font-size: 7.7em;
    line-height: initial;
    border-bottom: 5px solid #1a5489;
    margin-bottom: 0.2em; 
}
.screen3-title p{
  font-size: 2.2em;
}
/*landscape*/
.landscape-section{
  width: 100%;
  height: 100%;
  float: left;
}
.gnc-biogas-landscape{
  width: 14460px;
  height: 100%;
  float: left;
}
.landscape-top{
  width: 100%;
  height: 47%;
  position: relative;
}
.landscape-bottom{
  width: 100%;
  height: 53%;
  padding-top: 10px;
  background: #81b58b url(../images/border-top-bottom-landscape.png) top repeat-x;
  position: relative;
}
.main-landscape-image{
  position: absolute;
  z-index: 10;
  top: -50%; 
  left: -3%;
}
/*elements 1 hills*/
.hillType1{
  position: absolute;
  z-index: 2;
  width: 200px;
  height: 125px;
 background: transparent url(../images/montana-galileo-1.png) no-repeat;
}
.hillType2{
  z-index: 3;
  position: absolute;
  width: 152px;
  height: 95px;
  background: transparent url(../images/montana-galileo-2.png) no-repeat;
}
#hill-1{
  bottom: 0;
  left: 400px;
}
#hill-2{
  bottom: 0;
  left: 580px;
}
#hill-3{
  bottom: 0;
  left: 700px;
}
/*elements 2 trees*/
.treeType1{
  z-index: 4;
  position: absolute;
  width: 80px;
  height: 117px;
  background: transparent url(../images/arbol-galileo-1.png) no-repeat;
}
.treeType2{
  z-index: 4;
  position: absolute;
  width: 64px;
  height: 94px;
  background: transparent url(../images/arbol-galileo-2.png) no-repeat;  
}
#tree-1{
  bottom: -10px;
  left: 465px;
}
#tree-2{
  bottom: -10px;
  left: 610px;
}
#tree-3{
  bottom: -20px;
  left: 765px;
}
/*elements 3 txt*/
.txt-wrap-cntr{
  position: relative;
  width: 90%;
  display: inline-block;
  padding: 2% 5%;
}
#txt-wrap-1{
  top: -250px;
  left: 150px;
}
.txtWrap1{
  width: 341px;
  height: 537px;
  z-index: 11;
  position: absolute;
  background: transparent url(../images/cajon-txt-section1.png) no-repeat;
  padding: 20px 0;
}
.title-h3-1{
  position: absolute;
  bottom: -15px;
  text-align: center;
  width: 100%;  
}
.txt1{
  width: 30%;
  float: left;
  font-size: 20px;
  font-weight: bold;
  color: #074c38;
  margin-left: 10px;
}
#icon-1{

}
.icon1{
 float: left;
 width: 171px;
 height: 118px;
 background: transparent url(../images/em-icon-1.png) no-repeat;
}
.icon2{
 float: left;
 width: 161px;
 height: 117px;
 background: transparent url(../images/em-icon-2.png) no-repeat;
}
.icon3{
 float: left;
 width: 161px;
 height: 118px;
 background: transparent url(../images/em-icon-3.png) no-repeat;
}
.icon4{
 float: left;
 width: 162px;
 height: 118px;
 background: transparent url(../images/em-icon-4.png) no-repeat;
}