.menu-circles-icons {
        width: 30% !important;
    }
    .menu-circles-icons a{
      margin-bottom: 0.5em !important;
    }
    input.lng-btn{
      right: 1em !important;
    }
    img.logo-intro{
      float: left !important;
    }
    .column-left p {
      float: right !important;
      font-size: 3em !important;
      width: 100% !important;
      margin-top: 1em !important;
  }
  .column-right {
      width: 85% !important;
  }
  .column-left {
    width: 15% !important;
  }
  span.a-r {
    border-top: 18px solid transparent !important;
    border-bottom: 17px solid transparent !important;
    border-left: 18px solid #1a5489 !important;
    right: -18px !important;
  }
  .green-bg{
    bottom: -200%;
  }