.menu-circles-icons {
        width: 100% !important;
    }
    .menu-circles-icons a{
      margin-bottom: 0.5em !important;
    }
    input.lng-btn{
      right: -5em !important;
      font-size: 2em;
    }
    img.logo-intro{
      float: left !important;
    }
    .column-left p {
      float: left !important;
      font-size: 2.5em !important;
      width: 82% !important;
      margin-top: 1em !important;
  }
  .column-right {
      width: 15% !important;
  }
  .column-left {
    width: 75% !important;
    padding: 0 5% !important;
  }
  span.a-r {
        border-top: 44px solid transparent !important;
    border-bottom: 43px solid transparent !important;
    border-left: 45px solid #1a5489 !important;
    right: -43px !important;
  }
  .green-bg{
    bottom: -80%;
  }